<section class="bg-gray-900 text-white">
    <div class="absolute inset-0">
        <img src="https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?q=80&w=1905&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Background Image" class="w-full h-full object-cover filter blur-sm">
    </div>

    <div class="relative z-10 mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
        <div class="mx-auto max-w-3xl text-center">
            <h1 class="bg-gradient-to-r from-teal-300 via-teal-500 to-teal-700 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl">
                Bienvenido a la página web de
                <span class="sm:block">Club Atlético Ejemplo</span>
            </h1>

            <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo tenetur fuga ducimus
                numquam ea!
            </p>

            <div class="mt-8 flex flex-wrap justify-center gap-4">
                <a href="#" class="block w-full rounded bg-teal-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-teal-700 focus:outline-none focus:ring active:bg-teal-500 sm:w-auto">
                    Hazte Socio!
                </a>

                <a href="#" class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-teal-600 shadow hover:text-teal-700 focus:outline-none focus:ring active:text-teal-500 sm:w-auto">
                    Acreditaciones
                </a>
            </div>
        </div>
    </div>
</section>